

.contenedor{
    width: 90%;
    /* height: 250px; */
    display: flex;
    /* flex-direction: row-reverse;
    flex-wrap: wrap; */

    /* flex-flow: row wrap;
    justify-content: space-between; */
    /* align-content:space-around; */
    /* align-items: center; */
    /*debetener el contenedor altura*/

    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    
    background-color:rgba(0, 128, 0, 0.315);
}
.caja{
    width: 100px;
    height: 100px;
    /* overflow: hidden; */
}
.caja1{
    background-color: red;
    /* align-self:flex-start; */
    /* flex-grow: 1; */
    flex-shrink: 0;
}
.caja2{
    background-color: rgb(24, 209, 209);
    /* align-self: end; */
    /* flex-grow: 2; */
    flex-shrink: -1;
}
.caja3{
    background-color: rgb(244, 248, 12);
    /* flex-grow: 5; */
    /* flex-shrink: 2; */
}
.caja4{
    background-color: rgb(9, 46, 116);
}
.caja5{
    background-color: rgb(248, 79, 12);
}
.caja6{
    background-color: rgb(21, 179, 81);
    align-self: flex-start;
}
.caja7{
    background-color: rgb(40, 106, 150);
}