*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 97%;
  margin: auto;
}
.cabecera{
  background-color: rgb(11, 11, 34);
  color: azure;
  height: 4rem;
  text-align: center;
}
ul, ol{
  list-style-type: none;
}
.nav{
  display: flex;
  justify-content: space-evenly;

  height: 2.5rem;
  background-color: rgb(220, 35, 195);
}
.header .nav li {
  width: 100%;
}
.header .nav li a{
  text-decoration: none;
  display: block;
  color: black;
  font-size: 1.5rem;
  padding: 10px 15px;
}
.nav li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}
.header .nav li:hover > ul{
  display: block;
  background-color: rgb(152, 226, 33);
}
.nav li ul li{
  position: relative;
  border: 1px solid black;
}
.nav li ul li ul{
  right: -14px;
  top: 0;
}
#hijo:hover{
  background-color: aqua;
}



















}





















