*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 400px;
    height: 400px;
    border: 1px solid gray;
    margin: auto;
    position: relative;
}
.caja{
    width: 150px;
    height: 150px;
    margin: 1px;
}
.negro{
    background-color: black;
}
.celeste{
    background-color: rgb(13, 230, 238);
    position: absolute;
    top: 0;
    right: 0;
}
.amarillo{
    background-color: rgb(210, 247, 4);
    position: absolute;
    bottom: 0;
    right: 0;
}
.verde{
    background-color: rgb(62, 226, 47);
    position: absolute;
    bottom: 0;
    left: 0;
}
.centro{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    /* top: calc(50% - 100px);
    left: calc(50% - 100px); */
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
    z-index: -1;

}