
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-contenedor{
    width: 50%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1;
    /* gap: 2rem; */
    margin:1rem 0;
}
.row input{
    grid-column-start: 2;
    grid-column-end: 4;
}
.boton{
    grid-column-start: 2;
    grid-column-end: 3;
}
.row textarea{
    resize: none;
    grid-column-start: 2;
    grid-column-end: 5;

}